In [2]:
# Import necesssary tools

import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
from numpy import log
from numpy import exp
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [3]:
# Load relevant Excel table as a Pandas dataframs

df_US = pd.read_excel("TCP23_data.xlsx", sheet_name = "Q2 Contributing Factors").iloc[0:33,26:33]
df_US = df_US.rename(columns = {'Unnamed: 26': "Year",
                                "Unnamed: 27" : "Battery Cost (US$/kW-hr)",
                            "Unnamed: 28" : "Battery Gravimetric Energy Densities (W-hr/kg)", 
                            "Unnamed: 29": "Yearly average price of regular grade (87 octane) gasoline, USD per gallon", 
                            "Unnamed: 30": "% People Considering Climate as Top 3 Issue",
                            "Unnamed: 31": "Per capita Disposable Personal Income in the United States, Chained 2012 US Dollars*",
                            "Unnamed 32" : "Bicycles - Billions of Passenger Miles"})
df_US

,Year,Battery Cost (US$/kW-hr),Battery Gravimetric Energy Densities (W-hr/kg),"Yearly average price of regular grade (87 octane) gasoline, USD per gallon",% People Considering Climate as Top 3 Issue,"Per capita Disposable Personal Income in the United States, Chained 2012 US Dollars*",Bicycles - Billions of Passenger Miles
0,1990.0,NaN,NaN,NaN,NaN,NaN,11.418
1,1991.0,NaN,79.0,NaN,NaN,NaN,NaN
2,1992.0,NaN,NaN,1.087,NaN,NaN,NaN
3,1993.0,NaN,NaN,1.067,NaN,NaN,NaN
4,1994.0,NaN,105.0,1.075,NaN,NaN,NaN
5,1995.0,3200.0,110.0,1.111,NaN,NaN,10.821
6,1996.0,NaN,125.0,1.199,NaN,NaN,NaN
7,1997.0,2500.0,NaN,1.199,NaN,NaN,NaN
8,1998.0,NaN,140.0,1.030,NaN,NaN,NaN
9,1999.0,1800.0,NaN,1.136,NaN,NaN,NaN
10,2000.0,NaN,150.0,1.484,NaN,33645.0,NaN
11,2001.0,NaN,155.0,1.420,NaN,34216.0,24.779
12,2002.0,NaN,165.0,1.345,NaN,34894.0,NaN
13,2003.0,830.0,NaN,1.561,NaN,35474.0,NaN
14,2004.0,NaN,185.0,1.852,NaN,36325.0,NaN
15,2005.0,630.0,195.0,2.270,NaN,36526.0,NaN
16,2006.0,NaN,NaN,2.572,NaN,37570.0,NaN
17,2007.0,NaN,NaN,2.796,NaN,38093.0,NaN
18,2008.0,NaN,205.0,3.246,NaN,38188.0,NaN
19,2009.0,NaN,NaN,2.353,NaN,37814.0,27.943
20,2010.0,370.0,NaN,2.782,NaN,38282.0,NaN
21,2011.0,NaN,NaN,3.521,7.0,38769.0,NaN
22,2012.0,NaN,NaN,3.618,7.0,39732.0,NaN
23,2013.0,NaN,240.0,3.505,7.0,38947.0,NaN
24,2014.0,NaN,NaN,3.358,10.0,40118.0,NaN
25,2015.0,350.0,NaN,2.429,9.0,41383.0,NaN
26,2016.0,NaN,NaN,2.143,9.0,41821.0,NaN
27,2017.0,NaN,NaN,2.415,9.0,42699.0,33.651
28,2018.0,NaN,NaN,2.719,13.0,43886.0,NaN
29,2019.0,NaN,NaN,2.604,25.0,44644.0,NaN
30,2020.0,NaN,NaN,2.168,25.0,47241.0,NaN
31,2021.0,NaN,NaN,3.008,30.0,48219.0,NaN
32,2022.0,NaN,NaN,3.951,27.0,NaN,NaN

In [4]:
# Backfill missing values  Battery Cost

linreg = LinearRegression()

data = df_US[['Year', 'Battery Cost (US$/kW-hr)']]
data_without_na = data.dropna()
X = data_without_na.iloc[:, :1]
y = data_without_na.iloc[:, 1:]

linreg.fit(X, log(y))
print(linreg.score(X, log(y)))

test_data = data.iloc[:, :1]
df_US['Battery Cost (US$/kW-hr)'] = pd.DataFrame(exp(linreg.predict(test_data)))

df_US

0.9312448514825442

,Year,Battery Cost (US$/kW-hr),Battery Gravimetric Energy Densities (W-hr/kg),"Yearly average price of regular grade (87 octane) gasoline, USD per gallon",% People Considering Climate as Top 3 Issue,"Per capita Disposable Personal Income in the United States, Chained 2012 US Dollars*",Bicycles - Billions of Passenger Miles
0,1990.0,5039.331962,NaN,NaN,NaN,NaN,11.418
1,1991.0,4466.343473,79.0,NaN,NaN,NaN,NaN
2,1992.0,3958.505645,NaN,1.087,NaN,NaN,NaN
3,1993.0,3508.410636,NaN,1.067,NaN,NaN,NaN
4,1994.0,3109.492898,105.0,1.075,NaN,NaN,NaN
5,1995.0,2755.933408,110.0,1.111,NaN,NaN,10.821
6,1996.0,2442.574786,125.0,1.199,NaN,NaN,NaN
7,1997.0,2164.846062,NaN,1.199,NaN,NaN,NaN
8,1998.0,1918.696001,140.0,1.030,NaN,NaN,NaN
9,1999.0,1700.534004,NaN,1.136,NaN,NaN,NaN
10,2000.0,1507.177738,150.0,1.484,NaN,33645.0,NaN
11,2001.0,1335.806711,155.0,1.420,NaN,34216.0,24.779
12,2002.0,1183.921129,165.0,1.345,NaN,34894.0,NaN
13,2003.0,1049.305433,NaN,1.561,NaN,35474.0,NaN
14,2004.0,929.995981,185.0,1.852,NaN,36325.0,NaN
15,2005.0,824.252403,195.0,2.270,NaN,36526.0,NaN
16,2006.0,730.532215,NaN,2.572,NaN,37570.0,NaN
17,2007.0,647.468319,NaN,2.796,NaN,38093.0,NaN
18,2008.0,573.849058,205.0,3.246,NaN,38188.0,NaN
19,2009.0,508.600547,NaN,2.353,NaN,37814.0,27.943
20,2010.0,450.771005,NaN,2.782,NaN,38282.0,NaN
21,2011.0,399.516871,NaN,3.521,7.0,38769.0,NaN
22,2012.0,354.090499,NaN,3.618,7.0,39732.0,NaN
23,2013.0,313.829254,240.0,3.505,7.0,38947.0,NaN
24,2014.0,278.145844,NaN,3.358,10.0,40118.0,NaN
25,2015.0,246.519754,NaN,2.429,9.0,41383.0,NaN
26,2016.0,218.489653,NaN,2.143,9.0,41821.0,NaN
27,2017.0,193.646667,NaN,2.415,9.0,42699.0,33.651
28,2018.0,171.628409,NaN,2.719,13.0,43886.0,NaN
29,2019.0,152.113699,NaN,2.604,25.0,44644.0,NaN
30,2020.0,134.817875,NaN,2.168,25.0,47241.0,NaN
31,2021.0,119.488642,NaN,3.008,30.0,48219.0,NaN
32,2022.0,105.902394,NaN,3.951,27.0,NaN,NaN

In [5]:
# Backfill missing values - Energy Density

data = df_US[['Year', 'Battery Gravimetric Energy Densities (W-hr/kg)']]
data_without_na = data.dropna()
X = data_without_na.iloc[:, :1]
y = data_without_na.iloc[:, 1:]

linreg.fit(X, y)
print(linreg.score(X, y))

test_data = data.iloc[:, :1]
df_US['Battery Gravimetric Energy Densities (W-hr/kg)'] = pd.DataFrame(linreg.predict(test_data))

df_US

0.9904914432464352

,Year,Battery Cost (US$/kW-hr),Battery Gravimetric Energy Densities (W-hr/kg),"Yearly average price of regular grade (87 octane) gasoline, USD per gallon",% People Considering Climate as Top 3 Issue,"Per capita Disposable Personal Income in the United States, Chained 2012 US Dollars*",Bicycles - Billions of Passenger Miles
0,1990.0,5039.331962,76.805455,NaN,NaN,NaN,11.418
1,1991.0,4466.343473,84.146672,NaN,NaN,NaN,NaN
2,1992.0,3958.505645,91.487889,1.087,NaN,NaN,NaN
3,1993.0,3508.410636,98.829105,1.067,NaN,NaN,NaN
4,1994.0,3109.492898,106.170322,1.075,NaN,NaN,NaN
5,1995.0,2755.933408,113.511539,1.111,NaN,NaN,10.821
6,1996.0,2442.574786,120.852756,1.199,NaN,NaN,NaN
7,1997.0,2164.846062,128.193973,1.199,NaN,NaN,NaN
8,1998.0,1918.696001,135.535190,1.030,NaN,NaN,NaN
9,1999.0,1700.534004,142.876407,1.136,NaN,NaN,NaN
10,2000.0,1507.177738,150.217623,1.484,NaN,33645.0,NaN
11,2001.0,1335.806711,157.558840,1.420,NaN,34216.0,24.779
12,2002.0,1183.921129,164.900057,1.345,NaN,34894.0,NaN
13,2003.0,1049.305433,172.241274,1.561,NaN,35474.0,NaN
14,2004.0,929.995981,179.582491,1.852,NaN,36325.0,NaN
15,2005.0,824.252403,186.923708,2.270,NaN,36526.0,NaN
16,2006.0,730.532215,194.264925,2.572,NaN,37570.0,NaN
17,2007.0,647.468319,201.606142,2.796,NaN,38093.0,NaN
18,2008.0,573.849058,208.947358,3.246,NaN,38188.0,NaN
19,2009.0,508.600547,216.288575,2.353,NaN,37814.0,27.943
20,2010.0,450.771005,223.629792,2.782,NaN,38282.0,NaN
21,2011.0,399.516871,230.971009,3.521,7.0,38769.0,NaN
22,2012.0,354.090499,238.312226,3.618,7.0,39732.0,NaN
23,2013.0,313.829254,245.653443,3.505,7.0,38947.0,NaN
24,2014.0,278.145844,252.994660,3.358,10.0,40118.0,NaN
25,2015.0,246.519754,260.335876,2.429,9.0,41383.0,NaN
26,2016.0,218.489653,267.677093,2.143,9.0,41821.0,NaN
27,2017.0,193.646667,275.018310,2.415,9.0,42699.0,33.651
28,2018.0,171.628409,282.359527,2.719,13.0,43886.0,NaN
29,2019.0,152.113699,289.700744,2.604,25.0,44644.0,NaN
30,2020.0,134.817875,297.041961,2.168,25.0,47241.0,NaN
31,2021.0,119.488642,304.383178,3.008,30.0,48219.0,NaN
32,2022.0,105.902394,311.724394,3.951,27.0,NaN,NaN

In [6]:
# Backfill missing values - Gas prices

df_US['Yearly average price of regular grade (87 octane) gasoline, USD per gallon'][0:2] = 1.09
df_US

,Year,Battery Cost (US$/kW-hr),Battery Gravimetric Energy Densities (W-hr/kg),"Yearly average price of regular grade (87 octane) gasoline, USD per gallon",% People Considering Climate as Top 3 Issue,"Per capita Disposable Personal Income in the United States, Chained 2012 US Dollars*",Bicycles - Billions of Passenger Miles
0,1990.0,5039.331962,76.805455,1.090,NaN,NaN,11.418
1,1991.0,4466.343473,84.146672,1.090,NaN,NaN,NaN
2,1992.0,3958.505645,91.487889,1.087,NaN,NaN,NaN
3,1993.0,3508.410636,98.829105,1.067,NaN,NaN,NaN
4,1994.0,3109.492898,106.170322,1.075,NaN,NaN,NaN
5,1995.0,2755.933408,113.511539,1.111,NaN,NaN,10.821
6,1996.0,2442.574786,120.852756,1.199,NaN,NaN,NaN
7,1997.0,2164.846062,128.193973,1.199,NaN,NaN,NaN
8,1998.0,1918.696001,135.535190,1.030,NaN,NaN,NaN
9,1999.0,1700.534004,142.876407,1.136,NaN,NaN,NaN
10,2000.0,1507.177738,150.217623,1.484,NaN,33645.0,NaN
11,2001.0,1335.806711,157.558840,1.420,NaN,34216.0,24.779
12,2002.0,1183.921129,164.900057,1.345,NaN,34894.0,NaN
13,2003.0,1049.305433,172.241274,1.561,NaN,35474.0,NaN
14,2004.0,929.995981,179.582491,1.852,NaN,36325.0,NaN
15,2005.0,824.252403,186.923708,2.270,NaN,36526.0,NaN
16,2006.0,730.532215,194.264925,2.572,NaN,37570.0,NaN
17,2007.0,647.468319,201.606142,2.796,NaN,38093.0,NaN
18,2008.0,573.849058,208.947358,3.246,NaN,38188.0,NaN
19,2009.0,508.600547,216.288575,2.353,NaN,37814.0,27.943
20,2010.0,450.771005,223.629792,2.782,NaN,38282.0,NaN
21,2011.0,399.516871,230.971009,3.521,7.0,38769.0,NaN
22,2012.0,354.090499,238.312226,3.618,7.0,39732.0,NaN
23,2013.0,313.829254,245.653443,3.505,7.0,38947.0,NaN
24,2014.0,278.145844,252.994660,3.358,10.0,40118.0,NaN
25,2015.0,246.519754,260.335876,2.429,9.0,41383.0,NaN
26,2016.0,218.489653,267.677093,2.143,9.0,41821.0,NaN
27,2017.0,193.646667,275.018310,2.415,9.0,42699.0,33.651
28,2018.0,171.628409,282.359527,2.719,13.0,43886.0,NaN
29,2019.0,152.113699,289.700744,2.604,25.0,44644.0,NaN
30,2020.0,134.817875,297.041961,2.168,25.0,47241.0,NaN
31,2021.0,119.488642,304.383178,3.008,30.0,48219.0,NaN
32,2022.0,105.902394,311.724394,3.951,27.0,NaN,NaN

In [7]:
# Backfill missing data - Climate Concern

data = df_US[['Year', '% People Considering Climate as Top 3 Issue']]
data_without_na = data.dropna()
X = data_without_na.iloc[:, :1]
y = data_without_na.iloc[:, 1:]

linreg.fit(X, log(y))
print(linreg.score(X, log(y)))

test_data = data.iloc[:, :1]
df_US['% People Considering Climate as Top 3 Issue'] = pd.DataFrame(exp(linreg.predict(test_data)))

df_US

0.8545011388598707

,Year,Battery Cost (US$/kW-hr),Battery Gravimetric Energy Densities (W-hr/kg),"Yearly average price of regular grade (87 octane) gasoline, USD per gallon",% People Considering Climate as Top 3 Issue,"Per capita Disposable Personal Income in the United States, Chained 2012 US Dollars*",Bicycles - Billions of Passenger Miles
0,1990.0,5039.331962,76.805455,1.090,0.245154,NaN,11.418
1,1991.0,4466.343473,84.146672,1.090,0.284473,NaN,NaN
2,1992.0,3958.505645,91.487889,1.087,0.330097,NaN,NaN
3,1993.0,3508.410636,98.829105,1.067,0.383038,NaN,NaN
4,1994.0,3109.492898,106.170322,1.075,0.444470,NaN,NaN
5,1995.0,2755.933408,113.511539,1.111,0.515755,NaN,10.821
6,1996.0,2442.574786,120.852756,1.199,0.598473,NaN,NaN
7,1997.0,2164.846062,128.193973,1.199,0.694457,NaN,NaN
8,1998.0,1918.696001,135.535190,1.030,0.805835,NaN,NaN
9,1999.0,1700.534004,142.876407,1.136,0.935076,NaN,NaN
10,2000.0,1507.177738,150.217623,1.484,1.085045,33645.0,NaN
11,2001.0,1335.806711,157.558840,1.420,1.259066,34216.0,24.779
12,2002.0,1183.921129,164.900057,1.345,1.460997,34894.0,NaN
13,2003.0,1049.305433,172.241274,1.561,1.695314,35474.0,NaN
14,2004.0,929.995981,179.582491,1.852,1.967211,36325.0,NaN
15,2005.0,824.252403,186.923708,2.270,2.282715,36526.0,NaN
16,2006.0,730.532215,194.264925,2.572,2.648820,37570.0,NaN
17,2007.0,647.468319,201.606142,2.796,3.073642,38093.0,NaN
18,2008.0,573.849058,208.947358,3.246,3.566597,38188.0,NaN
19,2009.0,508.600547,216.288575,2.353,4.138613,37814.0,27.943
20,2010.0,450.771005,223.629792,2.782,4.802370,38282.0,NaN
21,2011.0,399.516871,230.971009,3.521,5.572582,38769.0,NaN
22,2012.0,354.090499,238.312226,3.618,6.466321,39732.0,NaN
23,2013.0,313.829254,245.653443,3.505,7.503399,38947.0,NaN
24,2014.0,278.145844,252.994660,3.358,8.706805,40118.0,NaN
25,2015.0,246.519754,260.335876,2.429,10.103216,41383.0,NaN
26,2016.0,218.489653,267.677093,2.143,11.723585,41821.0,NaN
27,2017.0,193.646667,275.018310,2.415,13.603831,42699.0,33.651
28,2018.0,171.628409,282.359527,2.719,15.785634,43886.0,NaN
29,2019.0,152.113699,289.700744,2.604,18.317358,44644.0,NaN
30,2020.0,134.817875,297.041961,2.168,21.255123,47241.0,NaN
31,2021.0,119.488642,304.383178,3.008,24.664052,48219.0,NaN
32,2022.0,105.902394,311.724394,3.951,28.619710,NaN,NaN

In [8]:
# Backfill missing data - Disposable Income

data = df_US[['Year', 'Per capita Disposable Personal Income in the United States, Chained 2012 US Dollars*']]
data_without_na = data.dropna()
X = data_without_na.iloc[:, :1]
y = data_without_na.iloc[:, 1:]

linreg.fit(X, y)
print(linreg.score(X, y))

test_data = data.iloc[:, :1]
df_US['Per capita Disposable Personal Income in the United States, Chained 2012 US Dollars*'] = pd.DataFrame(linreg.predict(test_data))

df_US

0.927756284190145

,Year,Battery Cost (US$/kW-hr),Battery Gravimetric Energy Densities (W-hr/kg),"Yearly average price of regular grade (87 octane) gasoline, USD per gallon",% People Considering Climate as Top 3 Issue,"Per capita Disposable Personal Income in the United States, Chained 2012 US Dollars*",Bicycles - Billions of Passenger Miles
0,1990.0,5039.331962,76.805455,1.090,0.245154,27379.274986,11.418
1,1991.0,4466.343473,84.146672,1.090,0.284473,27969.390175,NaN
2,1992.0,3958.505645,91.487889,1.087,0.330097,28559.505364,NaN
3,1993.0,3508.410636,98.829105,1.067,0.383038,29149.620553,NaN
4,1994.0,3109.492898,106.170322,1.075,0.444470,29739.735743,NaN
5,1995.0,2755.933408,113.511539,1.111,0.515755,30329.850932,10.821
6,1996.0,2442.574786,120.852756,1.199,0.598473,30919.966121,NaN
7,1997.0,2164.846062,128.193973,1.199,0.694457,31510.081310,NaN
8,1998.0,1918.696001,135.535190,1.030,0.805835,32100.196499,NaN
9,1999.0,1700.534004,142.876407,1.136,0.935076,32690.311688,NaN
10,2000.0,1507.177738,150.217623,1.484,1.085045,33280.426877,NaN
11,2001.0,1335.806711,157.558840,1.420,1.259066,33870.542067,24.779
12,2002.0,1183.921129,164.900057,1.345,1.460997,34460.657256,NaN
13,2003.0,1049.305433,172.241274,1.561,1.695314,35050.772445,NaN
14,2004.0,929.995981,179.582491,1.852,1.967211,35640.887634,NaN
15,2005.0,824.252403,186.923708,2.270,2.282715,36231.002823,NaN
16,2006.0,730.532215,194.264925,2.572,2.648820,36821.118012,NaN
17,2007.0,647.468319,201.606142,2.796,3.073642,37411.233202,NaN
18,2008.0,573.849058,208.947358,3.246,3.566597,38001.348391,NaN
19,2009.0,508.600547,216.288575,2.353,4.138613,38591.463580,27.943
20,2010.0,450.771005,223.629792,2.782,4.802370,39181.578769,NaN
21,2011.0,399.516871,230.971009,3.521,5.572582,39771.693958,NaN
22,2012.0,354.090499,238.312226,3.618,6.466321,40361.809147,NaN
23,2013.0,313.829254,245.653443,3.505,7.503399,40951.924337,NaN
24,2014.0,278.145844,252.994660,3.358,8.706805,41542.039526,NaN
25,2015.0,246.519754,260.335876,2.429,10.103216,42132.154715,NaN
26,2016.0,218.489653,267.677093,2.143,11.723585,42722.269904,NaN
27,2017.0,193.646667,275.018310,2.415,13.603831,43312.385093,33.651
28,2018.0,171.628409,282.359527,2.719,15.785634,43902.500282,NaN
29,2019.0,152.113699,289.700744,2.604,18.317358,44492.615471,NaN
30,2020.0,134.817875,297.041961,2.168,21.255123,45082.730661,NaN
31,2021.0,119.488642,304.383178,3.008,24.664052,45672.845850,NaN
32,2022.0,105.902394,311.724394,3.951,28.619710,46262.961039,NaN

In [9]:
# Backfill missing data - Bicycle passenger miles

data = df_US[['Year', 'Bicycles - Billions of Passenger Miles']]
data_without_na = data.dropna()
X = data_without_na.iloc[:, :1]
y = data_without_na.iloc[:, 1:]

linreg.fit(X, y)
print(linreg.score(X, y))

test_data = data.iloc[:, :1]
df_US['Bicycles - Billions of Passenger Miles'] = pd.DataFrame(linreg.predict(test_data))

df_US

0.9063487002113492

,Year,Battery Cost (US$/kW-hr),Battery Gravimetric Energy Densities (W-hr/kg),"Yearly average price of regular grade (87 octane) gasoline, USD per gallon",% People Considering Climate as Top 3 Issue,"Per capita Disposable Personal Income in the United States, Chained 2012 US Dollars*",Bicycles - Billions of Passenger Miles
0,1990.0,5039.331962,76.805455,1.090,0.245154,27379.274986,10.591616
1,1991.0,4466.343473,84.146672,1.090,0.284473,27969.390175,11.489260
2,1992.0,3958.505645,91.487889,1.087,0.330097,28559.505364,12.386904
3,1993.0,3508.410636,98.829105,1.067,0.383038,29149.620553,13.284548
4,1994.0,3109.492898,106.170322,1.075,0.444470,29739.735743,14.182192
5,1995.0,2755.933408,113.511539,1.111,0.515755,30329.850932,15.079836
6,1996.0,2442.574786,120.852756,1.199,0.598473,30919.966121,15.977479
7,1997.0,2164.846062,128.193973,1.199,0.694457,31510.081310,16.875123
8,1998.0,1918.696001,135.535190,1.030,0.805835,32100.196499,17.772767
9,1999.0,1700.534004,142.876407,1.136,0.935076,32690.311688,18.670411
10,2000.0,1507.177738,150.217623,1.484,1.085045,33280.426877,19.568055
11,2001.0,1335.806711,157.558840,1.420,1.259066,33870.542067,20.465699
12,2002.0,1183.921129,164.900057,1.345,1.460997,34460.657256,21.363342
13,2003.0,1049.305433,172.241274,1.561,1.695314,35050.772445,22.260986
14,2004.0,929.995981,179.582491,1.852,1.967211,35640.887634,23.158630
15,2005.0,824.252403,186.923708,2.270,2.282715,36231.002823,24.056274
16,2006.0,730.532215,194.264925,2.572,2.648820,36821.118012,24.953918
17,2007.0,647.468319,201.606142,2.796,3.073642,37411.233202,25.851562
18,2008.0,573.849058,208.947358,3.246,3.566597,38001.348391,26.749205
19,2009.0,508.600547,216.288575,2.353,4.138613,38591.463580,27.646849
20,2010.0,450.771005,223.629792,2.782,4.802370,39181.578769,28.544493
21,2011.0,399.516871,230.971009,3.521,5.572582,39771.693958,29.442137
22,2012.0,354.090499,238.312226,3.618,6.466321,40361.809147,30.339781
23,2013.0,313.829254,245.653443,3.505,7.503399,40951.924337,31.237425
24,2014.0,278.145844,252.994660,3.358,8.706805,41542.039526,32.135068
25,2015.0,246.519754,260.335876,2.429,10.103216,42132.154715,33.032712
26,2016.0,218.489653,267.677093,2.143,11.723585,42722.269904,33.930356
27,2017.0,193.646667,275.018310,2.415,13.603831,43312.385093,34.828000
28,2018.0,171.628409,282.359527,2.719,15.785634,43902.500282,35.725644
29,2019.0,152.113699,289.700744,2.604,18.317358,44492.615471,36.623288
30,2020.0,134.817875,297.041961,2.168,21.255123,45082.730661,37.520932
31,2021.0,119.488642,304.383178,3.008,24.664052,45672.845850,38.418575
32,2022.0,105.902394,311.724394,3.951,28.619710,46262.961039,39.316219

In [10]:
# Use model from Q1 to fill in e-bike sales

df1 = pd.read_excel("TCP23_data.xlsx", sheet_name = 'Q1 E-bike Sales').iloc[6:23,0:7].rename(columns = {'E-bike Sales Data Across the World': "Year", "Unnamed: 1"
                            : "United States (1000s)",
                            "Unnamed: 2" : "Europe (1000s)", 
                            "Unnamed: 3": "France (1000s)", 
                            "Unnamed: 4": "China (1000s)",
                            "Unnamed: 5": "India (1000s)",
                             "Unnamed: 6": "Japan (1000s)"}).replace("--", value = np.nan)
df1_US = df1[["Year", "United States (1000s)"]]
df1_US = df1_US.dropna().drop(20, axis=0)
print(df1_US)

X = df1_US[['Year']]
y = df1_US[['United States (1000s)']]

linreg.fit(X,log(y))
print(linreg.score(X,log(y)))

test_data = df_US[['Year']]
df_US['e-Bike Sales'] = pd.DataFrame(exp(linreg.predict(test_data)))

df_US

    Year  United States (1000s)
18  2018                  369.0
19  2019                  423.0
21  2021                  750.0
22  2022                  928.0
0.9890996711687445

,Year,Battery Cost (US$/kW-hr),Battery Gravimetric Energy Densities (W-hr/kg),"Yearly average price of regular grade (87 octane) gasoline, USD per gallon",% People Considering Climate as Top 3 Issue,"Per capita Disposable Personal Income in the United States, Chained 2012 US Dollars*",Bicycles - Billions of Passenger Miles,e-Bike Sales
0,1990.0,5039.331962,76.805455,1.090,0.245154,27379.274986,10.591616,0.407101
1,1991.0,4466.343473,84.146672,1.090,0.284473,27969.390175,11.489260,0.518416
2,1992.0,3958.505645,91.487889,1.087,0.330097,28559.505364,12.386904,0.660168
3,1993.0,3508.410636,98.829105,1.067,0.383038,29149.620553,13.284548,0.840680
4,1994.0,3109.492898,106.170322,1.075,0.444470,29739.735743,14.182192,1.070551
5,1995.0,2755.933408,113.511539,1.111,0.515755,30329.850932,15.079836,1.363276
6,1996.0,2442.574786,120.852756,1.199,0.598473,30919.966121,15.977479,1.736042
7,1997.0,2164.846062,128.193973,1.199,0.694457,31510.081310,16.875123,2.210734
8,1998.0,1918.696001,135.535190,1.030,0.805835,32100.196499,17.772767,2.815224
9,1999.0,1700.534004,142.876407,1.136,0.935076,32690.311688,18.670411,3.585002
10,2000.0,1507.177738,150.217623,1.484,1.085045,33280.426877,19.568055,4.565263
11,2001.0,1335.806711,157.558840,1.420,1.259066,33870.542067,20.465699,5.813560
12,2002.0,1183.921129,164.900057,1.345,1.460997,34460.657256,21.363342,7.403185
13,2003.0,1049.305433,172.241274,1.561,1.695314,35050.772445,22.260986,9.427466
14,2004.0,929.995981,179.582491,1.852,1.967211,35640.887634,23.158630,12.005256
15,2005.0,824.252403,186.923708,2.270,2.282715,36231.002823,24.056274,15.287900
16,2006.0,730.532215,194.264925,2.572,2.648820,36821.118012,24.953918,19.468130
17,2007.0,647.468319,201.606142,2.796,3.073642,37411.233202,25.851562,24.791377
18,2008.0,573.849058,208.947358,3.246,3.566597,38001.348391,26.749205,31.570180
19,2009.0,508.600547,216.288575,2.353,4.138613,38591.463580,27.646849,40.202537
20,2010.0,450.771005,223.629792,2.782,4.802370,39181.578769,28.544493,51.195275
21,2011.0,399.516871,230.971009,3.521,5.572582,39771.693958,29.442137,65.193799
22,2012.0,354.090499,238.312226,3.618,6.466321,40361.809147,30.339781,83.019995
23,2013.0,313.829254,245.653443,3.505,7.503399,40951.924337,31.237425,105.720477
24,2014.0,278.145844,252.994660,3.358,8.706805,41542.039526,32.135068,134.628040
25,2015.0,246.519754,260.335876,2.429,10.103216,42132.154715,33.032712,171.439912
26,2016.0,218.489653,267.677093,2.143,11.723585,42722.269904,33.930356,218.317398
27,2017.0,193.646667,275.018310,2.415,13.603831,43312.385093,34.828000,278.012779
28,2018.0,171.628409,282.359527,2.719,15.785634,43902.500282,35.725644,354.030901
29,2019.0,152.113699,289.700744,2.604,18.317358,44492.615471,36.623288,450.834955
30,2020.0,134.817875,297.041961,2.168,21.255123,45082.730661,37.520932,574.108522
31,2021.0,119.488642,304.383178,3.008,24.664052,45672.845850,38.418575,731.089262
32,2022.0,105.902394,311.724394,3.951,28.619710,46262.961039,39.316219,930.993859

In [11]:
# Multiple Linear Regression

X = df_US[['Battery Cost (US$/kW-hr)',
           'Battery Gravimetric Energy Densities (W-hr/kg)',
           'Yearly average price of regular grade (87 octane) gasoline, USD per gallon',
           '% People Considering Climate as Top 3 Issue',
           'Per capita Disposable Personal Income in the United States, Chained 2012 US Dollars*',
           'Bicycles - Billions of Passenger Miles']]
y = df_US[['e-Bike Sales']]

linreg.fit(X, y)
r2_mult_lin_reg = linreg.score(X, y)
print(r2_mult_lin_reg)

0.9973726047688847

In [20]:
# Listing Regression Coefficients

data = {'Variable': X.columns, 'Non-Standardized Regression Coefficients': linreg.coef_[0]}
coeffs = pd.DataFrame(data)
coeffs

,Variable,Non-Standardized Regression Coefficients
0,Battery Cost (US$/kW-hr),-0.064886
1,Battery Gravimetric Energy Densities (W-hr/kg),-0.000523
2,Yearly average price of regular grade (87 octa...,25.447707
3,% People Considering Climate as Top 3 Issue,47.112553
4,Per capita Disposable Personal Income in the U...,-0.042058
5,Bicycles - Billions of Passenger Miles,-0.000064

In [31]:
# Comparing Standardized Regression Coefficients

std = []
for s in df_US[X.columns].std():
    std.append(s)

coeffs['Standard Deviation'] = std
stdy = y.std()
stdy

e-Bike Sales    229.930243
dtype: float64

In [30]:
stdy = 229.930243
coeffs['Standardized Regression Coefficients'] = coeffs['Non-Standardized Regression Coefficients'] * (coeffs['Standard Deviation'] / stdy) 
coeffs

,Variable,Non-Standardized Regression Coefficients,Standard Deviation,Standardized Regression Coefficients
0,Battery Cost (US$/kW-hr),-0.064886,1381.071705,-0.389735
1,Battery Gravimetric Energy Densities (W-hr/kg),-0.000523,70.986189,-0.000162
2,Yearly average price of regular grade (87 octa...,25.447707,0.921270,0.101962
3,% People Considering Climate as Top 3 Issue,47.112553,7.711024,1.579984
4,Per capita Disposable Personal Income in the U...,-0.042058,5706.142310,-1.043758
5,Bicycles - Billions of Passenger Miles,-0.000064,8.679803,-0.000002

In [14]:
# increase in R^2 values for each of the factors

independent_variables = ['Battery Cost (US$/kW-hr)',
           'Battery Gravimetric Energy Densities (W-hr/kg)',
           'Yearly average price of regular grade (87 octane) gasoline, USD per gallon',
           '% People Considering Climate as Top 3 Issue',
           'Per capita Disposable Personal Income in the United States, Chained 2012 US Dollars*',
           'Bicycles - Billions of Passenger Miles']
y = df_US[['e-Bike Sales']]

for var in independent_variables:
    ind_vars_minus_var = independent_variables[:]
    ind_vars_minus_var.remove(var)
    linreg_temp = LinearRegression()
    linreg_temp.fit(df_US[ind_vars_minus_var], y)
    r2_minus_var = linreg_temp.score(df_US[ind_vars_minus_var], y)
    print("Increase in R^2 from adding " + var + " = " + str(r2_mult_lin_reg - r2_minus_var))

Increase in R^2 from adding Battery Cost (US$/kW-hr) = 0.01052960807462433
Increase in R^2 from adding Battery Gravimetric Energy Densities (W-hr/kg) = 0.0
Increase in R^2 from adding Yearly average price of regular grade (87 octane) gasoline, USD per gallon = 0.002874587802263573
Increase in R^2 from adding % People Considering Climate as Top 3 Issue = 0.2107883257419645
Increase in R^2 from adding Per capita Disposable Personal Income in the United States, Chained 2012 US Dollars* = 1.1102230246251565e-16
Increase in R^2 from adding Bicycles - Billions of Passenger Miles = 0.0